{%extends 'shop/base.html'%}
{% block body %}

<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
  </head>
  <body>
      <p>India has an internet users base of about 475 million as of July 2018, about 40% of the population.[1][2] Despite being the second-largest userbase in world, only behind China (650 million, 48% of population), the penetration of e-commerce is low compared to markets like the United States (266 million, 84%), or France (54 M, 81%), but is growing at an unprecedented rate, adding around 6 million new entrants every month.[3] The industry consensus is that growth is at an inflection point.[4]

            In India, cash on delivery is the most preferred payment method, accumulating 75% of the e-retail activities.[5] Demand for international consumer products (including long-tail items) is growing much faster than in-country supply from authorised distributors and e-commerce offerings.
            
            In 2017, the largest e-commerce companies in India were Amazon, Flipkart, ShopClues, Paytm, Snapdeal and e-bay.[6]</p>
            {%endblock%} 
            
     
            {% block content %} {%endblock%}
  </body>
</html>